body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #ecf0f1;
  text-align: center;
}
.container {
  padding: 0;
  margin-top: 40px;
}
.footer {
  margin-top: 60px;
}
.explanation {
  background-color: #ddd;
  border-radius: 15px;
  border-left: 2px solid #222;
  border-top: 2px solid #222;
  box-shadow: 2px 2px 0px #fff;
  padding: 6px;
}
.explanation code {
  padding: 2px;
  border-radius: 5px;
  background-color: #afa;
  color: #008000;
}
.explanation code.bad {
  background-color: #faa;
  color: #f00;
}
ol {
  list-style-position: inside;
}
ul {
  list-style-type: none;
}
ul li {
  margin-bottom: 15px;
}
a {
  color: #2574a9;
}
img {
  margin: 20px auto 0 auto;
  display: block;
}
