border-size = 2px

body
    font-family 'Roboto', sans-serif
    font-size 16px
    color #222
    background-color #ECF0F1
    text-align center

.container
    padding 0
    margin-top 40px

.footer
    margin-top 60px
    
.explanation
  background-color #ddd
  border-radius 15px
  border-left border-size solid #222
  border-top border-size solid #222
  box-shadow border-size border-size 0px white
  padding 6px
  
  code
    padding 2px
    border-radius 5px
    background-color #afa
    color green
    &.bad
      background-color #faa
      color red
    
ol
    list-style-position inside

ul
    list-style-type none
    
    li
      margin-bottom 15px

a
    color #2574A9

img
    margin 20px auto 0 auto
    display block